# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.dat

# Coverage directory used by tools like istanbul
coverage

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Vim files
.*.swm
.*.swn
.*.swo
.*.swp

# Randoms
*.orig
*.old
*.bak
tmp
.tmp
*.tmp

